[submodule "everest-engine/externals/yaml-cpp"]
	path = everest-engine/externals/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "everest-engine/externals/ImGuizmo"]
	path = everest-engine/externals/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "everest-engine/externals/glfw"]
	path = everest-engine/externals/glfw
	url = https://github.com/sunxsapk/glfw
[submodule "everest-engine/externals/lua"]
	path = everest-engine/externals/lua
	url = https://github.com/sunxsapk/lua
